* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
/* seccion del header */
a {
    text-decoration: none;
    cursor: pointer;
}
header {
    width: 100%;
    height: 60px;
}
header nav {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}
header nav .nav-right-section {
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-top: -3px;
}
nav .nav-right-section a {
    margin-right: 18px;
    font-family: Arial, sans-serif;
    font-size: 1.3rem;
    color: #000000;
}
nav .nav-right-section .menu-icon {
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    cursor: pointer;
}
nav .nav-right-section img {
    border-radius: 50px;
    margin-left: 10px;
}
/* seccion de main */
main {
    margin-top: 10px;
    text-align: center;
    height: 330px;
}
main .main-logo {
    width: 530px;
    margin: 0 auto 35px;
}
main .main-logo a img {
    width: 380px;
    border-radius: 25px;
}
main .main-input {
    width: 530px;
    margin: 0 auto 35px;
}
main .main-input-container {
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: space-around           ;
    align-items: center;
}
main .main-input-container:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}
main .main-input input {
    width: 420px;
    height: 45px;
    border: none;
    outline: none;
}
main .main-input .main-input-container .search-icon {
    background-image: url('https://img.icons8.com/android/24/000000/search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 15px;
    height: 15px;
    margin: 0 15px;
    cursor: pointer;
}
main .main-input .main-input-container .micro-icon {
    background-image: url('https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 22px;
    height: 22px;
    margin: 0 15px;
    cursor: pointer;
}
main .main-buttons {
    width: 530px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
main .main-buttons button {
    padding: 10px;
    margin-right: 15px;
    background-color: #f2f2f2;
    border: 0;
    color: #5f6368;
    border-radius: 5px;
    cursor: pointer;
}
main .main-buttons button:hover {
    box-shadow: 0 1px 1px 0 #20212447;
    border: 1px solid #c6c6c6;
    color: #222;
}
footer {
    width: 100%;
    margin-top: 70px;
    position: absolute;
    bottom: 0;
    background-color: rgb(242, 242, 242);
}
footer .country {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(218, 220, 224);
    border-top: 1px solid rgb(218, 220, 224);
}
footer p {
    font-size: 1.8rem;
    color: rgb(111, 111, 111);
    padding: 8px;
    margin-left: 25px;
}
footer .footer-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    font-family: Arial, sans-serif;
    padding: 10px 0;
    margin-top: 10px;
}
footer .footer-left {
    display: flex;
    list-style: none;
}
footer .footer-left a {
    color: rgb(111, 111, 111);
    margin-left: 35px;
}
footer .footer-right {
    display: flex;
    list-style: none;
}
footer .footer-right a {
    color: rgb(111, 111, 111);
    margin-right: 25px;
    padding-bottom: 2px;
}
footer a:hover {
    text-decoration: underline;
}